<h2>The hero service list</h2>

<ul *ngIf="heroList.length">
  <li *ngFor="let hero of heroList">
    <h4>{{ hero.name }}</h4>
    <img *ngIf="hero.picture" [src]="hero.picture" [alt]="hero.name" width="200px" />
  </li>
</ul>

<h3 *ngIf="!heroList.length">The hero service list is empty! 😱</h3>
