<h2>Input with two way data binding</h2>
<div>
  <p>{{ secondInputText }}</p>
  <input type="text" [(ngModel)]="secondInputText" />
</div>

<h2>Input with two way data binding and side effects</h2>
<div>
  <p [class]="thirdInputClass">{{ thirdInputText }}</p>
  <input type="text" [(ngModel)]="thirdInputText" (ngModelChange)="changeThirdInputColor()" />
</div>
