<h2>This is the hero form</h2>

<form [formGroup]="heroForm" (ngSubmit)="submitForm(heroForm.value)">
  <label for="heroName">
    <h4>Introduce a hero name</h4>
    <input type="heroName" id="heroName" formControlName="heroName" placeholder="Captain Marvel" />
  </label>

  <label for="picture">
    <h4>Introduce a hero picture url</h4>
    <input type="text" id="picture" formControlName="picture" placeholder="https://..." />
  </label>

  <button type="submit" [disabled]="heroForm.status === 'INVALID'">Submit</button>
</form>
